.alert{
    margin-top:10px;
}

.d-none{
    display: none;
}
.password.is-invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);

}

.propertyCard .addressBox.expanded p {
    -webkit-line-clamp: unset; /* Remove text limit */
    white-space: normal; /* Allow text to wrap */
}

/* Style for the 'more' button */
.propertyCard .addressBox span {
    color: var(--blue-color);
    margin-left: 5px;
}

.form-group .error {
    display: inline;
    color: red;
    font-size: 14px;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .cursor-default{
    cursor: default !important;
  }

  .site_traking_box .row a {
    width: 100%;
}

.detailmainSec .detailsTextSec .priceShare ul li a i.fa-solid.fa-heart {
    color: var(--red-color) !important;
}

.modalTextBox .priceAndshare ul li a i.fa-solid.fa-heart {
    color: var(--red-color) !important;
}

.disabled-modal {
    pointer-events: none; /* Disable all pointer events */
    opacity: 0.2 !important; /* Add a translucent effect to indicate it's disabled */
}

.truncate-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Change this to 2 or more for multiple lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Ensure it wraps properly */
    max-width: 100%; /* Ensures it does not overflow the container */
}
