.alert{
    margin-top:10px;
}

.d-none{
    display: none;
}
.password.is-invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);

}

.propertyCard .addressBox.expanded p {
    -webkit-line-clamp: unset; /* Remove text limit */
    white-space: normal; /* Allow text to wrap */
}

/* Style for the 'more' button */
.propertyCard .addressBox span {
    color: var(--blue-color);
    margin-left: 5px;
}

.form-group .error {
    display: inline;
    color: red;
    font-size: 14px;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .cursor-default{
    cursor: default !important;
  }

  .cursor-pointer{
    cursor: pointer !important;
  }

  .site_traking_box .row a {
    width: 100%;
}

.detailmainSec .detailsTextSec .priceShare ul li a i.fa-solid.fa-heart {
    color: var(--red-color) !important;
}

.modalTextBox .priceAndshare ul li a i.fa-solid.fa-heart {
    color: var(--red-color) !important;
}

.disabled-modal {
    pointer-events: none; /* Disable all pointer events */
    opacity: 0.2 !important; /* Add a translucent effect to indicate it's disabled */
}

.one-line-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
}

.two-line-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
}

.four-line-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    position: relative;
}

.five-line-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
}

#master_plan .tabBox .viewText li {
    padding: 10px;
    border-radius: 5px;
}

#master_plan .tabBox .viewText li.active {
    background: #eef6ff;
}

#master_plan .tabBox .viewText li:not(:last-child) {
    margin-bottom: 10px;
}

#master_plan .tabBox .viewText li h6 {
    margin-bottom: 0;
}

.site_traking_listng .propertyCard .propertyName h5 {
    color: #6A6A71;
    font-weight: 500 !important;
    font-size: 16px;
}

.site_traking_listng .propertyCard .priceBox .price {
    width: calc(50%);
}

.site_traking_listng .propertyCard .priceBox {
    margin-bottom: 10px;
}

/* .propertyCard .locationProperty .comBox {
    width: calc(50%);
} */

.propertyCard .locationProperty .comBox img {
    width: 100%;
    max-width: 30px;
    margin-right: 5px;
}

.modalTextBox .locationProperty .comBox {
    width: calc(50%);
}

.modalTextBox .locationProperty .comBox img{
    margin-right: 5px;
}

.detailmainSec .detailsTextSec .siteDetails .textBox .comBox img {
    margin-right: 5px;
}

.compare_project .siteDetails .textBox .comBox img {
    margin-right: 5px;
}
.not-found{
    font-size : 24px; font-weight:500;
}

.full-li-cover{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.row.propertyList a {
    width: 100%;
}


.autocomplete-list {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}
.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-item:hover {
    background-color: #f1f1f1;
}

