.alert{
    margin-top:10px;
}

.d-none{
    display: none;
}
.password.is-invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);

}

.propertyCard .addressBox.expanded p {
    -webkit-line-clamp: unset; /* Remove text limit */
    white-space: normal; /* Allow text to wrap */
}

/* Style for the 'more' button */
.propertyCard .addressBox span {
    color: var(--blue-color);
    margin-left: 5px;
}

.form-group .error {
    display: inline;
    color: red;
    font-size: 14px;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-whatsapp {
    background: #25D366;
    color: white;
  }

  .cursor-default{
    cursor: default !important;
  }
